<div class="container">
  <h1 class="title">
    {{ 'PAGES.LOGIN.TITLE' | translate }}
  </h1>

  <form (submit)="userLogin()" #form="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">{{ 'GENERAL.EMAIL' | translate }}</label>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             required
             [(ngModel)]="loginDate.email"
      >
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{ 'GENERAL.PASSWORD' | translate }}</label>
      <input type="password"
             class="form-control"
             id="password"
             name="password"
             required
             [(ngModel)]="loginDate.password"
      >
    </div>

    <a routerLink="/register" class="btn btn-secondary">
      {{ 'PAGES.LOGIN.CREATE_ACCOUNT' | translate }}
    </a>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      {{ 'PAGES.LOGIN.SEND' | translate }}
    </button>
  </form>
</div>
