/* You can add global styles to this file, and also import other style files */
$red: #c23b22;

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: mistyrose!important;
}
.lang {
  .flaglink {
    &:hover {
      cursor: pointer;
    }
  }
  .pl, .eng {
    max-width: 30px;
    height: auto;
  }
}
.nav.nav-pills {
  background: $red;
  min-height: 100vh;
  padding: 0;
  a.navlink {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    padding: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border-radius: 0!important;
    &:hover {
      background: mistyrose;
      color: $red !important;
      transition: all 0.75s ease 0s;
    }
    &.active {
      background-color: darkorange !important;
      &:hover {
        background: mistyrose!important;
        color: darkorange !important;
      }
    }
  }

/* CAN (MUST) BE REMOVED ! Sample Global style */

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: white;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

    .title {
      color: $red;
      margin: 0;
      padding: 50px 20px;
    }
  }

}


.main-row {
  width: 100%;
  margin: 0!important;
}
$theme-colors: (
  // Using the bootstrap "purple" color variable.
  primary: $red
);
$theme-colors-text: (
  primary: #ffffff
);


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
