/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$red: #c23b22;
$pastelRed: #ff6961;
$blue: #0d6efd;


html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: mistyrose!important;
}
.body {
  background-image: linear-gradient(to right, mistyrose, white)!important;
}
.lang {
  .flaglink {
    &:hover {
      cursor: pointer;
      .pl, .eng {
        filter: drop-shadow(5px 5px 15px black);
      }
    }
  }
  .pl, .eng {
    transition: 0.7s;
    max-width: 30px;
    height: auto;
    &:hover {
    }
  }
}
.nav.nav-pills {
  background: $red;
  min-height: 100vh;
  padding: 0;
  a.navlink {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    padding: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border-radius: 0!important;
    &:hover {
      background: mistyrose;
      color: $red !important;
      transition: all 0.75s ease 0s;
      cursor: pointer;
    }
    &.active {
      background-color: darkorange !important;
      &:hover {
        background: mistyrose!important;
        color: darkorange !important;
      }
    }
  }

  .table {
    width: 100%;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

  /* CAN (MUST) BE REMOVED ! Sample Global style */

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    .title {
      color: $red;
      margin: 0;
      padding: 50px 20px;
    }

  }

}


.main-row {
  width: 100%;
  margin: 0!important;
}

form .alert {
  border-width: 3px;
  margin-top: 3px;
}

.container {
  .btn + .btn {
    margin-left: 10px;
  }
}

.metrics {
  .small-header {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .value {
    font-size: 1.7rem;
    font-weight: bold;
  }
}

$theme-colors: (
  // Using the bootstrap "purple" color variable.
  primary: $red,
  secondary: $blue,
  danger: $red
);
$theme-colors-text: (
  primary: #ffffff
);
$theme-colors-bg-subtle: (
  danger: $pastelRed
);
$theme-colors-border-subtle: (
  danger: $red
);

.form-control.ng-touched {
  &.ng-invalid {
    border: $red 3px solid;
  }
  &.ng-valid{
    border: $blue 3px solid;
  }
}

.spinner {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';



@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$red-palette),
    accent: mat.define-palette(mat.$amber-palette),

  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);
